

.white-bg{
    background-color: white;
}
.white-color{
    color:white;
}

.black-bg{
    background-color: black;
}
.black-color{
    color:black;
}
.success-bg{
    background-color: lightgreen;
}
.sucess-color{
    color:lightgreen;
}
